[2020-06-25 07:15] Megxos opened #63 "Wrong register endpoint"
The register endpoints should be :

- **/register/user**

- **/register/customer**
but not:

- **/user**

- **/customer**

[2020-06-25 07:16] Megxos commented on #63
Issue resolved

[2020-06-25 07:16] #63 closed

[2020-06-25 07:25] Ghvstcode opened #64 "[New issue by Xt]"
-Fix the Reset Password & Recover password Routes

[2020-06-25 08:54] Alao-Abiodun opened #65 "Codebase refractor: Use persistent method to follow one pattern in all the controllers."
Some codebase in the folders needs some refraction for better performance. e.g following javascript convention style, ES6,
 and destructuring.

**To Reproduce Steps to reproduce the behavior (please point us to the relevant files):**
1. Go to the controller folder, the customer controller
2. The first function they use async/await method and other function they use promises and then the last funct

[2020-06-25 13:20] buka4rill opened #69 "Update User Route not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. With postman: <url>/user/update/:user_id
2.  Put in a the Key-Value pair you want to update
3. Send the request body
4. {
        "message": "Did not receive any update values"
    }

**Expected behavior**
Should return a message tha

[2020-06-25 13:40] piouson commented on #65
@Alao-Abiodun please provide detailed information for better understanding and proper review.
You can also directly link any code lines or files you are referring to:
![image](https://user-images.githubusercontent.com/17856665/85730689-c5324100-b6f1-11ea-8ac5-06eb1ddb4986.png)

[2020-06-25 13:40] Naijabas commented on #69
Try to use x-www-form-urlencoded and let's see output

[2020-06-25 13:43] buka4rill commented on #69
Same issue!
![Screenshot (228)](https://user-images.githubusercontent.com/45390219/85731270-48ec2d80-b6f2-11ea-81d6-63e73ffb40cd.png)

[2020-06-25 13:48] chinazaaa commented on #69
Approved by @chinazaaa

[2020-06-25 13:56] chinazaaa commented on #64
use the template and raise another issue

[2020-06-25 13:56] #64 closed

[2020-06-25 13:57] nerdyphil commented on #69
Approved by **@nerdyphil **

[2020-06-25 13:57] buka4rill commented on #69
Done...Fixed
![Screenshot (229)](https://user-images.githubusercontent.com/45390219/85733616-3d9a0180-b6f4-11ea-82d6-4270f00d41ac.png)

[2020-06-25 14:02] nerdyphil commented on #69
@buka4rill link to pr

[2020-06-25 14:10] buka4rill commented on #69
https://github.com/hngi/sentry-my-customer-backend/pull/71

[2020-06-25 14:24] chinazaaa opened #72 "Call Notification not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):

With postman: /call/{customerId}
Put in a Key-Value pair you want to update
Send the request body
{
    "status": 404,
    "code": 20404,
    "moreInfo": "https://www.twilio.com/docs/errors/20404"
}

**Expected behavior**
Should return

[2020-06-25 14:49] emasontech opened #73 "entry PORT not working"
**Describe the bug**
the entry port was changed to 5000 but application runs on 3000, and the README file points to welcome page but actually its a dead page not found, secondly three is  no such welcome status 200 in the app., the entry point of app is actually a 404 error, i can fix this by changing the routh to point to documentation page then users can navigate

**To Reproduce**
Steps to repro

[2020-06-25 15:04] ajdelgados opened #74 "All responses of our API don't have the same format"
**Describe the bug**
A issue have our API, all responses of our API don't have the same format, for example, some response with a object {"status":"string", "data": array of objects} and other just have a array of object

**How do you intend to solve this bug?**
Centralize all response with util/response_manager.js

**Slack username**
@ajdelgados

[2020-06-25 15:10] chinazaaa commented on #69
It's now working, merging PR

[2020-06-25 15:11] tboy44wiz commented on #73
No no no. you're getting it all wrong. Run Locally before complaining.
Please First Pull Locally. Test with your PostMan and Share the Error Screen.
Secondly the route you're on is not meant to give you any response rather than 404 error. That's the root route bro.

[2020-06-25 15:11] Aptcoder commented on #72
can I work on this

[2020-06-25 15:17] tboy44wiz commented on #74
Can I ask one Question? How do you expect for instance List of Customers to be in Object rather than Array and How do you expect Fetching of a Single user to be in an Array rather than an Object.???

**Please answer me if possible with a screenshot.**

[2020-06-25 15:19] #69 closed

[2020-06-25 15:20] naijauser commented on #72
Approved by @naijauser

[2020-06-25 15:22] chinazaaa commented on #72
approved by @chinazaaa

[2020-06-25 15:25] naijauser commented on #72
Assigned to @milz.

[2020-06-25 15:29] buka4rill commented on #73
The entry port is 3000...I think it should be left like that. It works with port 3000

[2020-06-25 15:36] emasontech commented on #73
it was stated in the README file so its missleading. pls show me your screenshot on entry point

[2020-06-25 15:49] Daemonicc opened #75 "{Feat} - Allow users to customize their reminder"
**What Functionality / Service / Endpoint would you like to add?**
Debt-reminder

**Describe this Functionality / Service / Endpoint**
Debt reminder should be automatically sent to debtor 24 hours before expected pay day if the debt havent been paid,

user should may also be allowed to specify days or frequency of sending debt reminder

Take this scenerio.
If am a store owner and Mr. A need to pay

[2020-06-25 15:54] Daemonicc opened #76 "API Should not return HTML"
**What Functionality / Service / Endpoint would you like to add?**
Non registered route

**Describe this Functionality / Service / Endpoint**
None registered routes are currently returning Html pages, non found route should return JSON as we are using it in an API that will be served

**Slack username**
@Daemon

[2020-06-25 16:07] Naijabas opened #77 "MISSING FIELDS ON THE COMPLAINT API"
**Describe the bug**
Whenever the complaint API is called, it's not returning the user name and email

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Just find the complaint API and make the necessary edits..

**Expected behavior**
It's supposed to able to display Email and User Name along with others

**Screenshots**
[image](https://user-images.github

[2020-06-25 16:13] Naijabas opened #78 "DATE IS SHOWING some "Z" and "T" .."
**Describe the bug**
The dates used on the database may be misleading people

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):

- Edit it On the Database,

**Expected behavior**
It should return something like this 2020-06-15 14:53:46

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubuserconten

[2020-06-25 16:22] naijauser commented on #74
If you standardize the response with this response object,
[code]
It means that every response will have an error property even if successful? And in a case where an error is returned, it would pass a data property? Would this be the case?

[2020-06-25 16:23] nerdyphil commented on #74
Approved by @nerdyphil

[2020-06-25 16:31] vicradon commented on #78
This is how MongoDB stores dates.

I don't think messing with this is a good idea

[2020-06-25 16:36] nerdyphil commented on #65
Not much of a task but okay.

Approved by @nerdyphil

[2020-06-25 16:38] pesova commented on #73
change the readme to the right port

[2020-06-25 16:47] jobafash commented on #73
Fix the typo and check that youre on the right track

[2020-06-25 16:50] Naijabas commented on #78
Ahhh
Okay oo
😔

[2020-06-25 16:53] Naijabas commented on #65
Approved by @Naijabas

[2020-06-25 16:53] olawalejuwonm opened #79 "Use User Official Email To Send Email Notification To Customer"
**What Functionality / Service / Endpoint would you like to add?**
This will add the functionality of user to send email with their personal/official email they used to register

**Describe this Functionality / Service / Endpoint**
A clear and concise description of what you want to add.
In the transporter used for sending the email, the email present is a static email(not depending on the user) a

[2020-06-25 16:55] momeniHIN opened #80 "Request and Response Documentation"
**What Functionality / Service / Endpoint would you like to add?**
API Documentation request and response format  for various actions.

**Describe this Functionality / Service / Endpoint**
A request format and response format for proper understanding of the API functionalities. This format should include the expected data types, min/max values, etc. The format of each action is to come immediately

[2020-06-25 16:59] jobafash commented on #73
Approved by {{jobafash}}

[2020-06-25 17:00] jobafash commented on #73
Approved by @jobafash

[2020-06-25 17:07] Daemonicc commented on #79
will you trust a site  enough to give out your email password?

[2020-06-25 17:09] Daemonicc commented on #74
will can use status to indicate failure or success

[2020-06-25 17:16] buka4rill commented on #78
lmao😂

[2020-06-25 17:21] pesova commented on #73
Approved by @pesova

[2020-06-25 17:21] naijauser commented on #76
Approved by @naijauser

[2020-06-25 17:23] Naijabas commented on #76
Approved my @Naijabas

[2020-06-25 17:24] naijauser commented on #76
Assigned to @daemon

[2020-06-25 17:27] chinazaaa commented on #79
Are you fixing the issue?

[2020-06-25 17:27] chinazaaa commented on #79
Approved by @chinazaaa

[2020-06-25 17:28] chinazaaa commented on #77
Approved by @chinazaaa

[2020-06-25 17:28] #78 closed

[2020-06-25 17:33] chinazaaa commented on #75
Change the title to allow users customize their reminders. Since we already have this service.

[2020-06-25 17:39] naijauser commented on #74
I've hardly seen any API that has all possible responses embedded, have you? You can share resources.

[2020-06-25 17:47] kenny-67 opened #81 "Customer update route not working"
**Describe the bug**
does not update customer information, it shows successful when you try to update but when you try fetching the updated customer details it returns the old details

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to "/customer/all" route and pick a random customer id
2. Go to "/customer/update/(the id selected from step 1 above)"

[2020-06-25 17:48] nerdyphil commented on #77
approved by @nerdyphil

[2020-06-25 17:51] Daemonicc commented on #74
not all possible responses, but responds should have a pattern e.g if all response have a status field. the person consuming the api can check for errors using just the status field

but in a case where each endpoint have there own style of data as he said, that will not be possible

[2020-06-25 18:08] Daemonicc commented on #75
@chinazaaa i have change the title

[2020-06-25 18:28] chinazaaa commented on #75
approved by @chinazaaa

[2020-06-25 18:32] naijauser commented on #79
Approved by @naijauser

[2020-06-25 18:33] chinazaaa commented on #79
approved by @chinazaaa

[2020-06-25 18:33] ajdelgados commented on #81
You should send a body like this in the request

{
    "name": "test",
    "phone": 8153632823
}

[2020-06-25 18:52] naijauser commented on #79
The only thing that needs to be done is to get the `to`, `subject `and `text `properties in the `params `object

[code]

to use the `recipient`, `subject ` and `text ` variables.

[code]
We'll go ahead and approve this. Please note that this is the only change expected.

[2020-06-25 18:53] naijauser commented on #79
Approved by @naijauser

[2020-06-25 18:58] chinazaaa commented on #79
approved by @chinazaaa

[2020-06-25 19:08] naijauser commented on #74
This is not feasible. Its not a pattern I've seen and I can't justify its use.

[2020-06-25 19:19] kenny-67 commented on #81
that's exactly what I did ...I got a success message but the database was not updated

[2020-06-25 19:21] Ghvstcode opened #82 "Unit Test"
**What Functionality / Service / Endpoint would you like to add?**
I would like to write unit tests for the Auth routes of the API

**Describe this Functionality / Service / Endpoint**
I would like to test to ensure that the unit tests are passing correctly!

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?
Yes, I have

**Slack username**
@xt.

[2020-06-25 19:29] naijauser commented on #81
Approved by @naijauser

[2020-06-25 19:29] kenny-67 commented on #81
Thanks, fixing now...

[2020-06-25 19:34] naijauser commented on #81
Assigned to @kenneth_real

[2020-06-25 19:38] naijauser commented on #80
Approved by @naijauser

[2020-06-25 19:40] chinazaaa commented on #80
Approved by @chinazaaa

[2020-06-25 19:40] naijauser commented on #82
Approved by @naijauser

[2020-06-25 19:41] chinazaaa commented on #82
Approved by @chinazaaa

[2020-06-25 19:44] naijauser commented on #82
Assigned to @xt.

[2020-06-25 20:41] iAmServer commented on #79
Can the microapi mailer be used for this feature?

[2020-06-25 20:42] olawalejuwonm commented on #79
am solving this issue @naijauser

[2020-06-25 20:43] Daemonicc commented on #75
I will be working on this @chinazaaa

[2020-06-25 20:45] iAmServer commented on #77
@chinazaaa am taking this issue

[2020-06-25 21:10] olawalejuwonm commented on #79
this has already been added @iAmServer  just some additional features needed

[2020-06-25 21:15] ajdelgados opened #84 "Add express-validator for customer"
**Describe the bug**
We need validate the body for a request POST or PUT method

**Expected behavior**
Response errors when a body doesn't have the correct format

**How do you intend to solve this bug?**
Added express-validation

**Slack username**
@ajdelgados

[2020-06-25 21:27] Ghvstcode commented on #84
Approved by @Ghvstcode

[2020-06-25 21:27] chinazaaa commented on #84
Approved by @chinazaaa

[2020-06-25 21:29] chinazaaa commented on #77
Okay

[2020-06-25 21:50] #81 closed

[2020-06-25 22:48] Somtozech commented on #84
@hngibot  claim

[2020-06-25 22:48] Somtozech commented on #84
@hngibot abadon

[2020-06-25 22:49] Somtozech commented on #84
@hngibot abort

[2020-06-25 22:52] Somtozech commented on #84
@hngibot add "help-wanted"

[2020-06-25 22:52] KingAbesh commented on #84
@hngibot claim

[2020-06-25 22:53] KingAbesh commented on #84
@hngibot abort

[2020-06-25 22:53] Somtozech commented on #84
@hngibot add "help wanted"

[2020-06-25 22:54] Somtozech commented on #84
@hngibot remove "help wanted"

[2020-06-25 23:09] emasontech opened #87 "validating in backend using @hapiJoi"
**What Functionality / Service / Endpoint would you like to add?**
backed data validation during user registration
**Describe this Functionality / Service / Endpoint**

noticed there is no validation in any of the field during registration except validation will be done on front end , i will love to implement the back end validation for registration entered data

**Duplicate prevention**
no duplic

[2020-06-25 23:16] emasontech commented on #73
done README  changed..

[2020-06-25 23:16] #73 closed

[2020-06-25 23:31] #84 closed

[2020-06-26 00:04] Hopekodi opened #89 "Implement Sign in with facebook"
**What Functionality / Service / Endpoint would you like to add?**
Users should be able to sign through their Facebook accounts

**Describe this Functionality / Service / Endpoint**
When users click on the Facebook button the Facebook api gives the user access to log in to their Facebook accounts, then their email address is retrieved in that process. They are authenticated using their email.

**D

[2020-06-26 04:46] emasontech opened #90 "Integrate Google Oauth.."
**What Functionality / Service / Endpoint would you like to add?**
Google Oauth for easy registration and login by users instead of going through registration log process

**Describe this Functionality / Service / Endpoint**
Better user expirience
**Duplicate prevention**
No duplicate

**Describe how to intend to go about adding this feature**
1 install passport and Google Oauth passport
2 get API

[2020-06-26 05:41] iAmServer commented on #77
I have few questions regarding the API, who's to answer that for me please

[2020-06-26 06:03] emasontech commented on #80
i'm interested to work on this..cheers

[2020-06-26 07:35] naijauser commented on #77
Drop any questions you have on the slack channel. @iAmServer

[2020-06-26 07:41] Hopekodi commented on #89
Will love to work on it

[2020-06-26 07:49] iAmServer commented on #77
![Screen Shot 2020-06-26 at 3 47 59 AM](https://user-images.githubusercontent.com/23441882/85833591-f6e1f100-b75f-11ea-821b-e5a591378099.png)

@Naijabas @naijauser @chinazaaa @nerdyphil

[2020-06-26 07:49] iAmServer commented on #77
Thats the final output

[2020-06-26 07:57] Hopekodi commented on #90
What's the difference between this and implement login with Google?

[2020-06-26 08:10] naijauser opened #93 "Business card endpoint."
**What Functionality / Service / Endpoint would you like to add?**
An endpoint [GET] to return information required on a business card.

**Describe this Functionality / Service / Endpoint**
This endpoint `/business-card` would return the following information when a GET request is sent to it.
-  Name of user
- Phone number
- email
- Store address
This information returned will be used to create a

[2020-06-26 08:52] Hack-Light commented on #93
Please can you assign this to me

[2020-06-26 08:57] iAmServer commented on #87
@chinazaaa I will take this

[2020-06-26 09:15] Clish254 opened #96 "Check if a user already exists before creating a new user."
**What Functionality / Service / Endpoint would you like to add?**
In the /user/new endpoint we should check if a user already exists before creating a new user.

**Describe this Functionality / Service / Endpoint**
We should do something like User.findOne to check if the user already exists before doing User.create

**Duplicate prevention**
Have you checked that this issue has not been opened by

[2020-06-26 09:21] Megxos opened #97 "Root route shows 404 error"
**Describe the bug**
Root route (/) displays a 404 error page

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to **http://...domain.../
2. See error

**Expected behavior**
Root route should redirect to /docs

**Screenshots**
![Screenshot from 2020-06-26 10-15-16](https://user-images.githubusercontent.com/42103959/85841449-0ed46780-b796-11ea-8ba7-43c

[2020-06-26 09:25] nerdyphil commented on #97
Lgtm
approved by @nerdyphil

[2020-06-26 09:25] naijauser commented on #97
Approved by @naijauser

[2020-06-26 09:26] naijauser commented on #93
Approved by @naijauser

[2020-06-26 09:26] judgegodwins opened #98 "Email verification"
**What Functionality / Service / Endpoint would you like to add?**
Email verification.

**Describe this Functionality / Service / Endpoint**
Email verification would ensure the email address of an owner is correct.

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?
Yes

**Describe how to intend to go about adding this feature**
When users register they

[2020-06-26 09:26] nerdyphil commented on #93
approved by @nerdyphil

[2020-06-26 09:28] nerdyphil commented on #93
sure

[2020-06-26 09:29] nerdyphil commented on #97
will you be the one solving it @Megxos?

[2020-06-26 09:38] nerdyphil commented on #96
approved by @nerdyphil

[2020-06-26 09:40] nerdyphil commented on #80
@hngibot claim

[2020-06-26 09:41] naijauser commented on #87
This is a duplicate #60 already addresses this.

[2020-06-26 09:41] #87 closed

[2020-06-26 09:42] Megxos commented on #97
No let someone have it @naijauser

[2020-06-26 09:51] Clish254 commented on #96
I am working on this now

[2020-06-26 09:55] cAtaman commented on #97
I'll like to take this

[2020-06-26 10:01] CeoFred opened #100 "Avoid calling functions until required"
**What Functionality / Service / Endpoint would you like to add?**
Optimization fix for API controllers

**Describe this Functionality / Service / Endpoint**
Some functions should only be called when it's time to use them, for example, signing a jwt token before confirming if
the user account is found for a registration route is not necessary, saves time and space.

**Duplicate prevention**
None

[2020-06-26 10:20] iAmServer commented on #98
I think this is implemented already

[2020-06-26 10:45] nerdyphil commented on #100
please can you explain how you plan to do this?

[2020-06-26 10:53] judgegodwins commented on #98
@iAmServer Nah, I don't think so

[2020-06-26 10:57] buka4rill opened #103 "Password for the route "/user/new" is not hashed (encrypted)"
**Describe the bug**
When a store admin is created using the "user/new" route, the password isn't encrypted.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. With Postman: <url>/user/new
2. Type in the request body to be sent.
3. Send the body
4. Error: it shows password and concatenates the string "this will be encrypted"

**Expected behavior**
Passwor

[2020-06-26 11:02] Balikey opened #104 "password reset api #53"
Needs to be tested

[2020-06-26 11:07] judgegodwins commented on #98
@iAmServer Nah, don't think so

[2020-06-26 11:20] CeoFred commented on #100
It's very simple logic, some functions are not meant to be called till when used, in some code I see signing a jwt before actually confirming some certain things at the end you may not use the output of the function

[2020-06-26 11:43] chinazaaa commented on #89
approved by @chinazaaa

[2020-06-26 11:45] naijauser commented on #89
Approved by @naijauser

[2020-06-26 11:46] naijauser commented on #89
Assigned to @ChiKoo

[2020-06-26 11:50] chinazaaa commented on #77
still has issues

[2020-06-26 11:52] chinazaaa commented on #96
approved by @chinazaaa

[2020-06-26 11:53] chinazaaa commented on #97
assigned to @cAtaman

[2020-06-26 11:57] chinazaaa commented on #104
explain

[2020-06-26 12:01] chinazaaa commented on #103
approved by @chinazaaa

[2020-06-26 12:03] Balikey commented on #104
So i made this pull request without testing it, it wasn't merged because i was told to test it. When i tested it  i was told to raise an issue.

[2020-06-26 12:04] naijauser commented on #100
Mentors have marked this as trivial. I'll close it now.

[2020-06-26 12:04] #100 closed

[2020-06-26 12:06] naijauser commented on #98
Based on the application requirements, number verification is sufficient. I'll be closing this now.

[2020-06-26 12:06] #98 closed

[2020-06-26 12:08] naijauser commented on #90
Mentors have marked this as trivial.

[2020-06-26 12:08] #90 closed

[2020-06-26 12:13] chinazaaa commented on #96
what's the format for testing

[2020-06-26 12:31] naijauser commented on #104
Ok. I've looked at #53 . What you should do is to refactor the code to use Mongoose and the already created user models in the `/models` directory. When you have done this, send a new PR.

This issue will be closed now.

[2020-06-26 12:33] #104 closed

[2020-06-26 12:34] chinazaaa commented on #96
waiting

[2020-06-26 12:34] Clish254 commented on #96
Try to create a user with an email which already exists in the db,you'll just get an error message "Could not add user due to an internal error" which doesn't really say much,but if we check if a user already exists before trying to save, if a user already exists we can send an an error message "email already exists" which is more detailed.

[2020-06-26 13:34] Megxos commented on #97
How many hours is it taking you to do simple redirect? @cAtaman

[2020-06-26 13:46] judgegodwins opened #110 "Check that email format is valid before registering user"
**What Functionality / Service / Endpoint would you like to add?**
Check for email validity before registering

**Describe this Functionality / Service / Endpoint**
A middleware for register/user to check that email is valid
**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?
yes

**Describe how to intend to go about adding this feature**
Describe the app

[2020-06-26 14:07] emasontech commented on #110
I want this

[2020-06-26 14:10] emasontech commented on #97
I stated this issue and person told. That's how it supposed to work I don't get what is Goin one here oh

[2020-06-26 14:17] ajdelgados opened #113 "Add body validation"
**Describe the bug**
Add body validation for store, notification, transaction and complaint

**Expected behavior**
Response errors when a body doesn't have the correct format

**How do you intend to solve this bug?**
Added express-validation

**Slack username**
@ajdelgados

[2020-06-26 14:47] chinazaaa commented on #110
Will you install any dependency here

[2020-06-26 14:47] nerdyphil commented on #110
No new modules are allowed at the moment

[2020-06-26 14:52] chinazaaa commented on #110
Will you install any dependency here

[2020-06-26 14:54] chinazaaa commented on #110
Approved by @chinazaaa

[2020-06-26 15:00] Clish254 opened #114 "Server side validation of request body in the user route using @hapi/joi"
**What Functionality / Service / Endpoint would you like to add?**
A short statement
We should validate data sent by a user before saving it to the db or updating.
**Describe this Functionality / Service / Endpoint**
A clear and concise description of what you want to add.
I would like to use @hapi/joi for schema description and validation in the user route especially when adding or updating user

[2020-06-26 15:24] judgegodwins opened #115 "Create transaction route not working"
**Describe the bug**
A clear and concise description of what the bug is.
The endpoint /transaction/new isn't working. It returns `..._id undefined`

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. After creating a customer account at /customer/new and store at /store/new
2. Post to `/transaction/new` with all necessary cred.

**Expected behavior**
Suppo

[2020-06-26 15:40] emasontech commented on #110
No dependesis

[2020-06-26 15:49] Clish254 commented on #114
I'd like to work on this

[2020-06-26 16:40] emasontech commented on #97
This is not fair, this was the  first issue I brought and and even complainted on the README documentation.. I even made a PR but yet you guys have not done anything

[2020-06-26 16:40] emasontech commented on #97
Pls let  me do it now now.

[2020-06-26 16:58] kenny-67 commented on #110
This is no longer an issue

[2020-06-26 17:30] Ghvstcode commented on #114
Hey, @Clish254!!!! Someone else has already created an issue to validate the request body! Please do find another thing to work on!

[2020-06-26 17:30] Megxos commented on #110
This is frontend work

[2020-06-26 17:31] #110 closed

[2020-06-26 17:32] Megxos commented on #110
This is not valid

[2020-06-26 17:33] Megxos commented on #103
Approved by @Megxos

[2020-06-26 17:34] Megxos commented on #103
You have been working on this for 7 hours now. It will soon be given to someone else.

[2020-06-26 18:14] buka4rill commented on #103
I'm done

[2020-06-26 18:15] buka4rill commented on #103
Would make PR right away

[2020-06-26 18:30] buka4rill commented on #103
https://github.com/hngi/sentry-my-customer-backend/pull/116

[2020-06-26 18:31] buka4rill commented on #103
![Screenshot (240)](https://user-images.githubusercontent.com/45390219/85889538-9399a280-b7e3-11ea-9de4-e1817a72be16.png)
![Screenshot (241)](https://user-images.githubusercontent.com/45390219/85889542-95fbfc80-b7e3-11ea-983d-a801a2a5efa0.png)

[2020-06-26 19:05] kenny-67 commented on #115
How did you test it (what parameters did you provide)

[2020-06-26 19:07] #114 closed

[2020-06-26 19:21] #103 closed

[2020-06-26 19:44] chinazaaa commented on #113
Approved @chinazaaa

[2020-06-26 19:55] judgegodwins opened #118 "API token not returned to user on registration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Post to `/register/user` with necessary cred.

**Expected behavior**
Should return API token

**Screenshots**
![Screenshot from 2020-06-26 20-54-28](https://user-images.githubusercontent.com/38760034/85895870-5d622000-b7ef-11ea-8390-

[2020-06-26 20:30] Megxos commented on #97
@emasontech  I opened this after thinking through it.

[2020-06-26 20:36] Megxos commented on #118
Approved

[2020-06-26 20:38] emasontech commented on #97
Let me  fix it. Thanks

[2020-06-26 21:09] judgegodwins commented on #118
I'll work on it

[2020-06-26 21:19] chinazaaa commented on #118
approved by @chinazaaa

[2020-06-26 21:31] judgegodwins commented on #115
Ok first u'll create a store and a customer account.
Then post to /transaction/new with

[2020-06-26 22:19] #118 closed

[2020-06-26 22:20] #97 closed

[2020-06-26 22:20] #77 closed

[2020-06-26 22:42] iAmServer commented on #113
I will take this

[2020-06-26 23:11] neymarjimoh opened #123 "User can forget, reset and change password"
**What Functionality / Service / Endpoint would you like to add?**
This includes  the user authentication functionality

**Describe this Functionality / Service / Endpoint**
- A user can ask for a resend of the verification link sent upon sign up
- A registered user upon sign in can forget his login credentials, this functionality will create a link for the user when requesting for a password rese

[2020-06-26 23:12] neymarjimoh commented on #123
I can work on this if approved and accepted
Username is @jimoh19

[2020-06-27 02:29] cAtaman commented on #97
Hey sorry about that, power issues... Thanks for taking the initiative

[2020-06-27 06:23] sandygudie commented on #123
I have worked on password recovery recovery and reset already sorry I didn't raise an issue

[2020-06-27 06:26] Tolufolorunso commented on #113
I will deliver this

[2020-06-27 06:28] chinazaaa commented on #123
This issue is not approved

[2020-06-27 06:29] chinazaaa commented on #123
As you did not follow due process for raising an issue... there is a form to fill before creating an issue... Next time follow due process

[2020-06-27 06:29] #123 closed

[2020-06-27 07:26] mhizterkeyz opened #127 "Endpoint user/new always returns error of an already existing user with same details"
**Describe the bug**
The endpoint will always give an error of a user with the same details you have provided existing.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. POST /user/new with appropriate data
2. See error

**Expected behavior**
It's supposed to create a new user and return that data when you POST to it

**Screenshots**
If applicable, add s

[2020-06-27 08:17] iAmServer commented on #127
@chinazaaa assign

[2020-06-27 11:11] buka4rill commented on #127
Show a screen shot, I worked on this route yesterday, and it's works fine

[2020-06-27 11:12] buka4rill commented on #127
Did you make a pull request for recent updates?

[2020-06-27 11:19] buka4rill commented on #96
I added this fix to my PR yesterday. If you are still working on this, please don't bother to push

[2020-06-27 11:21] chinazaaa opened #132 "user/all endpoint does not have authentication"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Should have authentication

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2020-06-27 11:23] buka4rill commented on #132
Assign this to me @chinazaaa

[2020-06-27 11:24] buka4rill commented on #96
![image](https://user-images.githubusercontent.com/45390219/85921066-292f4380-b871-11ea-8312-0fff9282df8b.png)

[2020-06-27 11:37] chinazaaa commented on #132
oh

[2020-06-27 11:38] chinazaaa commented on #96
so this issue is solved? Can i close it?

[2020-06-27 11:40] chinazaaa commented on #127
send the screenshot of this issue

[2020-06-27 11:40] buka4rill commented on #132
ignore...assign to someone else 🚶‍♂️

[2020-06-27 11:41] buka4rill commented on #96
Yes, it's solve. I did it yesterday. If he feels it isn't he should test it and post screenshots

[2020-06-27 11:41] chinazaaa commented on #96
okay closing

[2020-06-27 11:41] #96 closed

[2020-06-27 11:43] emmaakachukwu commented on #132
i'll take this if it's available @chinazaaa

[2020-06-27 11:44] chinazaaa commented on #113
has this being solved? who is working on it?

[2020-06-27 12:06] kenny-67 commented on #115
@chinazaaa is this approved?

[2020-06-27 12:10] kenny-67 commented on #115
I would like to work on this

[2020-06-27 12:27] chinazaaa commented on #115
Approved

[2020-06-27 12:54] judgegodwins commented on #115
I'm already working on it

[2020-06-27 13:10] sukiejosh opened #135 "Add Products to Store"
**What Functionality / Service / Endpoint would you like to add?**
Add/Update goods a store has

**Describe this Functionality / Service / Endpoint**
The User can add goods to an existing store or when creating a store, goods might be updated after every tranasction

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?
Yes

**Describe how to intend to go a

[2020-06-27 13:16] sukiejosh commented on #135
I would like to work on this

[2020-06-27 13:28] chinazaaa commented on #135
hold on

[2020-06-27 13:29] chinazaaa commented on #127
waiting....

or i can close it?

[2020-06-27 13:37] Megxos commented on #135
Did you see any product schema?

[2020-06-27 13:39] mhizterkeyz commented on #127
Yes, you can close it, it works fine now

[2020-06-27 13:43] sukiejosh commented on #135
Nope...Am talking if the Store model

[2020-06-27 13:44] Megxos opened #136 "Implement login with Google"
**What Functionality / Service / Endpoint would you like to add?**
Login with Google

**Describe this Functionality / Service / Endpoint**
Allow user to register/sign in using their Google account.

**Duplicate prevention**
Yes

**Describe how to intend to go about adding this feature**
Use Passportjs Google authentication.

**Slack username**
@Mikah

**Additional context**
Not available

[2020-06-27 13:49] Megxos opened #137 "Restructure database to accept users who registered with Google"
**What Functionality / Service / Endpoint would you like to add?**
Save Google account credentials

**Describe this Functionality / Service / Endpoint**
Add user schema for those who registered using their Google account.

**Duplicate prevention**
No duplicate

**Describe how to intend to go about adding this feature**
Add a Google object in the users schema.

**Slack username**
@Mikah

**Addition

[2020-06-27 14:07] chinazaaa commented on #136
are you doing it?

[2020-06-27 14:20] Megxos commented on #135
We are not selling products on the App

[2020-06-27 14:21] #135 closed

[2020-06-27 15:14] Megxos commented on #136
No

[2020-06-27 15:17] buka4rill commented on #93
@mhizterkeyz add the PR link over here with those screen shots please

[2020-06-27 15:25] sukiejosh commented on #137
Are u doing this....can i do it

[2020-06-27 15:28] mhizterkeyz commented on #93
[PR link](https://github.com/hngi/sentry-my-customer-api/pull/138)

![proof1](https://user-images.githubusercontent.com/38281402/85925861-2e04ef00-b893-11ea-87b2-06490c43359f.png)

![proof2](https://user-images.githubusercontent.com/38281402/85925869-33fad000-b893-11ea-8100-87d512037e6e.png)

![proof3](https://user-images.githubusercontent.com/38281402/85925871-3b21de00-b893-11ea-8c4d-19d739a1d0b1

[2020-06-27 15:34] #127 closed

[2020-06-27 15:42] buka4rill commented on #93
Merged.. @chinazaaa Assign points

[2020-06-27 15:46] chinazaaa opened #140 "Password reset API"
**What Functionality / Service / Endpoint would you like to add?**
A short statement

**Describe this Functionality / Service / Endpoint**
A clear and concise description of what you want to add.

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?

**Describe how to intend to go about adding this feature**
Describe the approach you will take in adding th

[2020-06-27 16:33] Tolufolorunso commented on #113
@chinazaaa hope I can work on this?

[2020-06-27 16:36] olawalejuwonm commented on #79
@naijauser @chinazaaa  I have completed this but has not been merged since
https://github.com/hngi/sentry-my-customer-api/pull/120

[2020-06-27 17:33] jobafash commented on #136
@hngibot claim

[2020-06-27 17:44] #76 closed

[2020-06-27 17:55] #65 closed

[2020-06-27 17:55] #80 closed

[2020-06-27 17:55] #93 closed

[2020-06-27 18:09] Aptcoder commented on #136
can I take this

[2020-06-27 18:16] jobafash commented on #136
@hngibot claim

[2020-06-27 18:26] #82 closed

[2020-06-27 18:31] #115 closed

[2020-06-27 19:31] judgegodwins opened #149 "Create new debt route is broken"
**Describe the bug**
Route to create a debt at `debt/new` is broken

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Post to `/debt/new/` with body params:
`{
  transaction_id: 'id of already created transaction',
  message,
  status,
  pay_date,
}`

**Expected behavior**
It is supposed to respond with json `{ error: false, message: 'Debt Reminder was c

[2020-06-27 19:38] judgegodwins commented on #149
I'll like to work on the issue

[2020-06-27 20:13] chinazaaa opened #154 "Docs needs to be updated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-06-27 20:13] #154 closed

[2020-06-27 21:03] chinazaaa commented on #149
Approved

[2020-06-27 21:17] olawalejuwonm commented on #79
@chinazaaa

[2020-06-27 21:36] #132 closed

[2020-06-27 21:52] #79 closed

[2020-06-27 21:56] chinazaaa commented on #113
Ask @ajdelgados he is the one working on it

[2020-06-27 22:10] buka4rill commented on #89
Merged

[2020-06-27 22:11] #89 closed

[2020-06-27 23:00] buka4rill commented on #136
Who owns this task??

[2020-06-27 23:13] olawalejuwonm opened #160 "Secure email reminder"
**What Functionality / Service / Endpoint would you like to add?**
Adding the functionality of sending email by using registered email available

**Describe this Functionality / Service / Endpoint**
This will work on /reminder/email endpoint

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone  else?
Yes

**Describe how to intend to go about adding this feature*

[2020-06-28 00:23] emasontech commented on #79
I have fixed this issue #79, no need for token. Issue was the structure in dB solution was to convert the user object coming from dB to  json then access the email..

[2020-06-28 00:27] emasontech commented on #160
Duplicate of my task. I just fixed it

[2020-06-28 00:34] sandygudie commented on #140
Dear nerdyphil, it's assigned already thks

[2020-06-28 09:47] #149 closed

[2020-06-28 10:37] buka4rill commented on #140
Drop the link to the PR here @sandygudie

[2020-06-28 10:42] sandygudie commented on #140
[forget](https://res.cloudinary.com/dvpoiwd0t/image/upload/v1593335257/forget_password_done_fnsgsn.jpg)
[resetpassword](https://res.cloudinary.com/dvpoiwd0t/image/upload/v1593335258/resetsuccessful_czhrdr.jpg)

[2020-06-28 10:46] austitech commented on #113
Update the label of this issue so we know it has been taken. thanks

[2020-06-28 11:15] kenny-67 opened #163 "Getting individual transaction route not working"
**Describe the bug**
Individual transaction cannot be retrieved by ID

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '/transaction/:transaction id' route

**Expected behavior**
return the individual transaction

**Desktop (please complete the following information):**
 - OS: [e.g. Windows10]
 - Browser [Chrome]

*

**Screenshots**
![transaction-

[2020-06-28 11:15] kenny-67 commented on #163
I would take this if approved

[2020-06-28 11:39] chinazaaa commented on #163
Approved

[2020-06-28 11:56] kenny-67 commented on #163
On it

[2020-06-28 11:58] judgegodwins opened #164 "Debt route `/debt/all` Should not return all debt Objects in DB"
**Describe the bug**
The route `/debt/all` calls `debt.getAll` which returns all debt in DB

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Try creating two user accounts and add debts for all
2. Make a GET request to `/debt/all`

**Expected behavior**
The request is only supposed to return debts pertaining to the user making the request and not all de

[2020-06-28 12:04] judgegodwins commented on #164
I'll like to work on it

[2020-06-28 12:08] chinazaaa commented on #164
Approved

[2020-06-28 13:11] Megxos opened #167 "Clear packages not in use from codebase"
Remove all unused dependencies from the package.json file. Be careful not to remove important dependencies.

[2020-06-28 14:28] austitech opened #169 "Bug: make field **is_active** optional when creating a new user"
**Describe the bug**
When making post request to **/user/new**, it requires the the field **is_active** to be passed with the required fields but this field should be optional. It should default to **0** when its not passed in the request body.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2020-06-28 14:32] #169 closed

[2020-06-28 15:01] #167 closed

[2020-06-28 15:01] nerdyphil commented on #167
completed

[2020-06-28 15:26] emasontech opened #171 "restructure userModel, Customer Model to a more relational database"
**What Functionality / Service / Endpoint would you like to add?**
increase speed in request/response time, reduce db task and server operation optimized

**Describe this Functionality / Service / Endpoint**
Use mongoDB arrays to collect customers that has users to their store instead of creating new users db and customer db

**Duplicate prevention**
not sir

**Describe how to intend to go about a

[2020-06-28 16:23] #163 closed

[2020-06-28 23:12] chinazaaa opened #175 "customer/all returns everyone's customers with my token"
**Describe the bug**
customer/all returns all the customers with my token

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
It should only return my own customer and not everyone's customers

**Screenshots**
![image](https://user-images.githubusercontent.com/50022

[2020-06-28 23:32] chinazaaa commented on #164
Redo and make pr

Make sure you pull the recent ones

[2020-06-29 02:06] #160 closed

[2020-06-29 03:10] saucecodee opened #180 "SMS notification not available"
**What Functionality / Service / Endpoint would you like to add?**
Send an SMS notification

**Describe this Functionality / Service / Endpoint**
Users should have the ability to send SMS notifications to their customers

**Duplicate prevention**
Have you checked that this issue has not been opened by anyone else?

**Describe how to intend to go about adding this feature**
I'll set up Twillo to se

[2020-06-29 07:30] #180 closed

[2020-06-29 07:30] #113 closed

[2020-06-29 07:30] #164 closed

[2020-06-29 11:03] saucecodee commented on #74
I agree with @Daemonicc ... all responses should have the same properties `message, result, success, error `. Then the consumer can decide if it's successful from the success property which is a boolean

[2020-06-29 11:57] kenny-67 opened #186 "Security issue"
**Describe the bug**
As the codebase stands now every user token is stored in the data base this raises some issues
1) any user that makes a request to /user/all would be able to see every users token and with this token he can gain access to an account that's not his
2)since the token is only valid for an hour the entry in the database becomes redundant and takes up valuable storage space

**To R

[2020-06-29 12:02] Megxos commented on #186
What if the user forgets his token and want's to view it?

[2020-06-29 12:06] kenny-67 commented on #186
Then he can login to generate a new token

[2020-06-29 12:08] kenny-67 commented on #186
tokens are not meant to be stored in a permanent store

[2020-06-29 12:13] buka4rill commented on #175
Whose on this ticket?

[2020-06-29 12:36] kenny-67 commented on #186
@megxos ...awaiting approval

[2020-06-29 12:37] sandygudie commented on #140
**Feature Added**
Password Recovery API

**Description**
Added Password recovery API. The forget password endpoint sends a reset link to the user's email and generates a password  token.
The reset password endpoint uses the password token (req.query) and new password( req.body) to reset user password . New password generated is encrypted and stored in database.

 **Endpoint testing pics**
[forget_

[2020-06-29 12:52] buka4rill commented on #186
I just checked this route out. It doesn't save or return user token whatsoever. Pull updates and test again @kenny-67

[2020-06-29 13:13] Megxos opened #189 "Change user is_active state on successful verification"
**What Functionality / Service / Endpoint would you like to add?**
Change user is_active state on successful verification

**Describe this Functionality / Service / Endpoint**
is_active state of the user is meant to be true after successfully  verifying their phone number

**Duplicate prevention**
No duplicate

**Describe how to intend to go about adding this feature**
On successful verification,

[2020-06-29 13:13] kenny-67 commented on #186
@buka4rill  it still does
Register a new user with all the required fields leaving none out and then send a get request you would see the api_token returned to you

[2020-06-29 13:16] Megxos commented on #186
So you want the user to be copying and storing his token elsewhere so as not to forget?
Also, you want the user to generate a new token anytime he forgets the old one...

[2020-06-29 14:12] kenny-67 commented on #186
@Megxos what exactly are you talking about, the user doesn't need to do anything its all handled by the front end.
Upon successful registration the token is collected and stored in the browsers local storage, you talk as if its postman the user would use to make request

[2020-06-29 14:14] kenny-67 commented on #186
Take any app that has login and signup page do you see your token? Its all handled behind the scenes

[2020-06-29 14:19] Hack-Light opened #192 "Update complaint and transaction API responce to follow the guideline"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Here is what am seeing
![github1](https://user-images.github

[2020-06-29 14:39] iAmServer commented on #192
It as been updated

[2020-06-29 15:19] Hack-Light commented on #192
I just uploaded some screenshots

[2020-06-29 15:21] buka4rill commented on #136
This has been done by @Alao-Abiodun

[2020-06-29 15:28] iAmServer commented on #192
My PR as not been merged

[2020-06-29 15:39] Hack-Light commented on #192
Okay

[2020-06-29 15:43] Alao-Abiodun commented on #136
https://github.com/hngi/sentry-my-customer-api/issues/136

[2020-06-29 17:46] #186 closed

[2020-06-29 18:45] #137 closed

[2020-06-29 18:45] #136 closed

[2020-06-29 18:58] chinazaaa opened #197 "Restructure Facebook login"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-06-29 18:58] chinazaaa commented on #197
Approved

[2020-06-29 18:59] #175 closed

[2020-06-29 20:30] EmmanuelAbajo commented on #189
I would like to work on this.

Slack username
@Emmanuel.Abajo

[2020-06-29 21:32] #192 closed

[2020-06-30 01:20] #171 closed

[2020-06-30 01:44] emasontech commented on #189
me too i will like to work on this

[2020-06-30 07:26] kenny-67 commented on #189
Is this assigned to anyone yet or is it open for all

[2020-06-30 15:16] EmmanuelAbajo commented on #189
I already met @chinazaaa to assign it to me @kenny-67

[2020-07-01 07:47] chinazaaa opened #202 "/user/all returns all the users in the whole database just with one user token"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
**ONLY SUPER ADMINS ARE MEANT TO HAVE THIS RIGHT**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2020-07-01 08:38] chinazaaa opened #203 "response says name and email not set after login"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Name and email should show in the response

**Screenshots**
![image](https://user-images.githubusercontent.com/50022245/86222701-80d5f380-bb7

[2020-07-01 08:39] chinazaaa opened #204 "response says name and email not set after registration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Name and email should show in the response

**Screenshots**
![image](https://user-images.githubusercontent.com/50022245/86222865-b5e24600-bb7

[2020-07-01 08:40] chinazaaa opened #205 "store/all not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Should return empty if the user has no store.
Should return the store list if user has one or more stores

**Screenshots**
![image](https://u

[2020-07-01 08:42] chinazaaa opened #206 "customer/all is not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Should return all the user customers.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-ima

[2020-07-01 08:45] #205 closed

[2020-07-01 09:25] chinazaaa opened #207 "password does not allow special characters"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-01 09:27] chinazaaa opened #208 "customer/new not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-01 09:28] chinazaaa opened #209 "docs needs to be updated as store/new is now store/new/{id} and some other updates"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-01 09:38] #209 closed

[2020-07-01 09:41] Hack-Light commented on #207
I can handle this

[2020-07-01 09:48] judgegodwins commented on #208
I'd like to fix it

[2020-07-01 10:01] kenny-67 commented on #206
I'll like to take this

[2020-07-01 10:11] emasontech commented on #207
Let me fix this with. RegEx.. 😇 Expert

[2020-07-01 10:14] emasontech commented on #202
I will hand this one.. By access the ID form the token the query the dB with that ID cheers..

[2020-07-01 10:19] emasontech commented on #204
Give us screen shot of data sent to the api

[2020-07-01 10:19] emasontech commented on #204
Am interested to work

[2020-07-01 10:24] emasontech commented on #203
I can fix this

[2020-07-01 11:51] iAmServer commented on #197
@phiiileo and @chinazaaa I have make changes to the PR

[2020-07-01 13:36] sandygudie commented on #204
Issue fixed... sending PR

[2020-07-01 15:15] olawalejuwonm commented on #207
I can fix this

[2020-07-01 15:20] sandygudie commented on #204
**Describe the bug**
The names and email were not passed to the correctly req. body needed to save in the database.

Steps to reproduce the behavior (please point us to the relevant files):
Go to 'register.controller.js'
 Error from the "registerUser function

Desktop (please complete the following information):
Browser [e.g. chrome, safari]

The bug was fixed by passing the data from the req.body

[2020-07-01 20:31] chinazaaa commented on #203
Have you fixed it now

[2020-07-01 20:31] chinazaaa commented on #204
Okay

[2020-07-01 20:31] chinazaaa commented on #206
Have you fixed it

[2020-07-01 20:32] chinazaaa commented on #207
Have you fixed it

[2020-07-01 21:16] #203 closed

[2020-07-01 21:16] #204 closed

[2020-07-01 21:39] #207 closed

[2020-07-01 23:54] olawalejuwonm opened #215 "User/all endpoint not working"
**What Functionality / Service / Endpoint would you like to add?**
The User/all endpoint is not returning all user as expected.

**Describe this Functionality / Service / Endpoint**
A clear and concise description of what you want to add.
The User/all endpoint was finding user by id which is not right. The user/all endpoint is specifically meant for getting all users as included in the documentati

[2020-07-02 01:20] mhizterkeyz commented on #202
If this issue is still open to claiming, i will like to take it. I will deliver within the first hour of assignment, and yeah I'm doing exactly what the other person above said he was going to do since 15 hours aga

[2020-07-02 01:24] mhizterkeyz commented on #206
The solution (pull #217) provided for this issue needs improvement. customer/all should only get all the customers of the current user, not all the customers on the DB. I can improve on this and deliver within the first hour of assignment.

[2020-07-02 08:11] Hack-Light opened #219 "/user/update/:user_id endpoint not working"
**Describe the bug**
After successfully updating a user. The field still show 'not set'

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![nbnhm](https://user-images.githubuserconten

[2020-07-02 09:28] buka4rill commented on #215
Steps to test, postman screenshot?

[2020-07-02 09:54] buka4rill commented on #215
Don't bother. I  have tested it. I used a token to get all the users in the database. That is wrong. If I am using a token to get all users, if that token doesn't belong to a super admin, I shouldn't get all users. I should get just the user whose token was inputed.

[2020-07-02 11:10] buka4rill opened #221 "/login/user saves token to the db"
**Describe the bug**
On each log in, the token should change. It should return a new token. Also, it should not save token to the db.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. With Postman: Send to http://localhost:3000/login/user
2. Parameters to test: phone_number and password
3. Ensure to have local db connected
4. Token doesn't change on each

[2020-07-02 11:12] chinazaaa opened #222 "Getting route customer by id /customer/:customerId isn't working."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 11:13] judgegodwins commented on #222
I'm taking it

[2020-07-02 11:49] olawalejuwonm commented on #221
I am working on this

[2020-07-02 12:22] EmmanuelSeyi commented on #219
I'll take this pls

[2020-07-02 12:50] olawalejuwonm commented on #215
@buka4rill I have solved this by using the token of user inputted to return the user.
This is the approach I used

Thank you
I have added more commits to my pull request and I have pulled before making the pull request.

[2020-07-02 14:06] olawalejuwonm commented on #221
@buka4rill I tried removing the api_token from the collections mongodb by pulling out the api_token from the user (store_admin) schema but the api still persists in the response after log in. this might be possibly static or issue in the DB itself

So now I have implemented changing of api_token immediately the user log in

Kindly check the pull request link and see the screenshot for confirmation

[2020-07-02 14:50] Hack-Light commented on #219
Already fixed

[2020-07-02 15:35] chinazaaa opened #227 "Fix /store/update/store_id endpoint to update a store"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 15:37] chinazaaa opened #228 "Fix /customer to retrieve all customers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 15:38] chinazaaa opened #229 "Fix /customer/update/:customer_id to update a particular customer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 15:44] kenny-67 commented on #228
On it

[2020-07-02 15:44] chinazaaa opened #230 "Fix /transaction/new to add a new transaction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 16:00] chinazaaa opened #232 "Fix and update /assistant/new to add store assistant"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 16:08] chinazaaa opened #233 "Fix and update /assistant/update/:assistant_id to update a store assistant details"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 16:22] ajdelgados commented on #227
I'm on it

[2020-07-02 17:38] Megxos commented on #221
Why do you want to remove it? Did you put it there?

[2020-07-02 17:38] Megxos commented on #221
@buka4rill  can you please close this issue?

[2020-07-02 17:39] Megxos commented on #227
okay

[2020-07-02 17:39] olawalejuwonm commented on #221
@Megxos no oo, what's the meaning of all this you've started again abi. Don't worry

[2020-07-02 17:40] Megxos commented on #227
@hngi-bot add "taken"

[2020-07-02 17:44] #221 closed

[2020-07-02 17:44] olawalejuwonm commented on #221
@Megxos why can't you just please be patient and read things before concluding.
Please am begging you, this is the second time you've blocked me without giving helpful feedback. According to the issue raised by @buka4rill . He said the token should not be saved in the database, and I tried solving that.. since it doesn't work I left it.. bro please calm down and understand this... I have been work

[2020-07-02 17:46] buka4rill commented on #221
I closed this because someone has fixed the login in issue. I'm sorry @olawalejuwonm

[2020-07-02 18:07] EmmanuelSeyi commented on #230
On it

[2020-07-02 18:08] olawalejuwonm commented on #232
Working on it

[2020-07-02 18:08] buka4rill commented on #230
assigned to @EmmanuelSeyi

[2020-07-02 18:09] olawalejuwonm commented on #233
Taking this

[2020-07-02 18:27] buka4rill commented on #232
@olawalejuwonm your last PR wasn't merged. It didn't work. You'd have to forfeit one

[2020-07-02 19:35] ashggan commented on #232
can I work on it ?

[2020-07-02 19:41] olawalejuwonm commented on #232
@ashggan  am working on it

[2020-07-02 20:04] tboy44wiz commented on #229
I'm on this...

[2020-07-02 20:53] #227 closed

[2020-07-02 21:09] chinazaaa opened #238 "Fix store/delete"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-02 21:11] ajdelgados commented on #238
I'm working on it

[2020-07-02 21:36] #238 closed

[2020-07-02 22:27] #208 closed

[2020-07-02 23:16] #222 closed

[2020-07-02 23:16] #206 closed

[2020-07-03 00:34] #219 closed

[2020-07-03 01:13] olawalejuwonm commented on #233
@Megxos  Please review

[2020-07-03 06:48] #228 closed

[2020-07-03 06:48] #230 closed

[2020-07-03 07:05] chinazaaa opened #249 "Transaction routes except create are not working"
**Describe` the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-07-03 07:21] emasontech commented on #249
On this one

[2020-07-03 07:35] #232 closed

[2020-07-03 07:35] #233 closed

[2020-07-03 07:37] chinazaaa opened #253 "Complaint routes are not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-03 07:38] buka4rill commented on #253
On this!

[2020-07-03 09:11] emasontech commented on #253
fixed
![complain router](https://user-images.githubusercontent.com/51678953/86453355-8b76c100-bd15-11ea-859c-d7fafbe81e0b.PNG)

[2020-07-03 11:35] sandygudie commented on #140
PR link
https://github.com/hngi/sentry-my-customer-api/pull/261

[2020-07-03 11:38] sandygudie commented on #140
Feature Added
Password Recovery API

PR link
https://github.com/hngi/sentry-my-customer-api/pull/261

Ticket NO
140

Steps to test
-Add a valid email to FROM_EMAIL in the .env file.
-In passwordreset controller file for both endpoints, add valid email to host and user , add email password to password .

testing endpoints
/forgetpassword - req.body(email)
(you should get an email for reset link)
/r

[2020-07-06 13:09] #74 closed

[2020-07-06 13:09] #72 closed

[2020-07-06 14:11] #75 closed

[2020-07-06 14:11] #140 closed

[2020-07-06 14:11] #189 closed

[2020-07-06 14:11] #197 closed

[2020-07-06 14:11] #202 closed

[2020-07-06 14:11] #215 closed

[2020-07-06 14:11] #229 closed

[2020-07-06 14:11] #249 closed

[2020-07-06 14:11] #253 closed

[2020-07-06 22:02] chinazaaa opened #263 "Update Store_admin details (Update route)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I should be able to edit the store admin details

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (pl

[2020-07-06 22:03] chinazaaa opened #264 "Fix /transaction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:03] chinazaaa opened #265 "Fix /transaction/new to add a new transaction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:03] chinazaaa opened #266 "Fix /transaction/update/:transaction_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:04] chinazaaa opened #267 "Fix /transaction/delete/:transaction_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:07] chinazaaa opened #268 "Fix /reminder/email/:customer_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:08] chinazaaa opened #269 "Fix /complaint"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:08] chinazaaa opened #270 "Fix /complaint/new"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:08] chinazaaa opened #271 "Fix /complaint/update/:complaint_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:09] chinazaaa opened #272 "/complaint/delete/:complaint_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:12] chinazaaa opened #273 "Fix /debt"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:12] chinazaaa opened #274 "Fix /debt/new"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:13] chinazaaa opened #275 "Fix /debt/update/:debt_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:13] chinazaaa opened #276 "Fix /debt/delete/:debt_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:14] chinazaaa opened #277 "change user is_active state on successful verification"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-06 22:22] ajdelgados commented on #263
What is needed update?

[2020-07-06 23:03] buka4rill commented on #269
I'm on this already

[2020-07-06 23:10] chinazaaa commented on #263
completed

[2020-07-06 23:10] #263 closed

[2020-07-06 23:12] buka4rill commented on #270
I'm on this

[2020-07-06 23:39] olawalejuwonm commented on #265
Am taking this

[2020-07-07 00:48] mhizterkeyz commented on #269
I'm on this. @script on slack.

[2020-07-07 06:19] judgegodwins commented on #274
I'll take this

[2020-07-07 06:21] judgegodwins commented on #266
I'll take this

[2020-07-07 08:40] hdJerry commented on #277
change status from 0 to 1

[2020-07-07 09:32] buka4rill commented on #270
https://github.com/hngi/sentry-my-customer-api/pull/284

[2020-07-07 09:34] buka4rill commented on #270
To test:
1. Create a business owner : http://localhost:3000/register/user
2. Log in Business Owner: http://localhost:3000/login/user
3. Copy business Owner Id and create compliants: http://localhost:3000/complaint/new/:ownerId
4. Send paramenters : name, email, message

[2020-07-07 09:50] #270 closed

[2020-07-07 10:55] #264 closed

[2020-07-07 10:55] #265 closed

[2020-07-07 10:58] chinazaaa opened #286 "password Reset not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 11:18] olawalejuwonm commented on #286
Working on This

[2020-07-07 12:16] #267 closed

[2020-07-07 12:52] Aptcoder commented on #273
I am working on this

[2020-07-07 13:04] #269 closed

[2020-07-07 13:04] #271 closed

[2020-07-07 13:04] #272 closed

[2020-07-07 13:49] #266 closed

[2020-07-07 14:27] chinazaaa opened #293 "Route to view single complaint... complaint/complaint_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 14:28] chinazaaa opened #294 "Route to view single transaction... transaction/transaction_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 14:28] #294 closed

[2020-07-07 14:33] chinazaaa opened #295 "Logout route not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 15:11] #295 closed

[2020-07-07 15:46] Aptcoder commented on #274
Now working on this.
slack username: @milz

[2020-07-07 16:46] chinazaaa opened #300 "Forgot password route"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 17:15] chinazaaa opened #301 "Fix store/store_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 18:08] sandygudie commented on #301
i am looking in this. The store model does not have an "id" identifier. is that the issue to be fixed?

[2020-07-07 18:18] olawalejuwonm commented on #300
Am working on this

[2020-07-07 18:35] #273 closed

[2020-07-07 19:45] #301 closed

[2020-07-07 19:45] #274 closed

[2020-07-07 19:49] chinazaaa opened #305 "Fix debt/debt_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-07 20:57] buka4rill commented on #305
Doing this

[2020-07-07 23:21] #286 closed

[2020-07-07 23:21] #300 closed

[2020-07-07 23:42] chinazaaa opened #312 "Fix forgot password using email"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-08 07:54] #312 closed

[2020-07-08 23:18] #277 closed

[2020-07-08 23:18] #268 closed

[2020-07-08 23:18] chinazaaa opened #328 "Update password"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-08 23:19] chinazaaa opened #329 "Endpoint to upload/update image"
**Describe the bug**
A clear and concise description of what the bug is.

endpoint to upload/update image

every user is supposed to have a profile picture, and you need to set a default avatar for users, such that once they upload theirs the default one goes off

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll d

[2020-07-09 07:32] #305 closed

[2020-07-09 08:14] #275 closed

[2020-07-09 08:14] #276 closed

[2020-07-09 08:14] #328 closed

[2020-07-09 11:39] chinazaaa opened #336 "Debt reminder not functional, allow store admin customize his reminders"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (please point us to the relevant files):
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-10 11:44] olawalejuwonm commented on #329
working on this

[2020-07-10 13:15] olawalejuwonm commented on #329
@chinazaaa this has already been worked on

[2020-07-11 06:28] #329 closed

[2020-07-29 17:29] #336 closed